@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&family=Bebas+Neue&family=Amatic+SC:wght@700&display=swap");
* {
  margin: 0;
  padding: 0;
}

:root {
  font-size: 62.5%;
  --fontMain: #be7246;
  --fontBorder: #bbb956;
}

html {
  height: 100vh;
  font-size: 1.6rem;
  font-family: "Fredoka One", cursive;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper {
  width: 90%;
  height: 90%;
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1rem;
  padding: 1rem;
}

ul {
  width: 90%;
  max-width: 46rem;
  margin: 0;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 2rem 0;
  font-size: 3rem;
  position: relative;
  border-radius: 1rem;
  padding: 1rem 1rem 4rem;
  border: 0.25rem groove lightblue;
  background: linear-gradient(45deg, rgb(181, 228, 255), rgb(0, 247, 247), rgb(181, 228, 255));
  transition: 0.6s;
}
@media (max-width: 620px) {
  ul {
    top: -6rem;
    height: 1rem;
    font-size: 1.8rem;
    padding: 1.5rem 1rem;
  }
}

.fa-trophy {
  font-size: 5rem;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  background-image: linear-gradient(90deg, var(--fontBorder), var(--fontMain), var(--fontBorder));
}
@media (max-width: 880px) {
  .fa-trophy {
    font-size: 3rem;
  }
}

main {
  gap: 2rem;
  padding: 3rem;
  display: flex;
  flex-wrap: wrap;
  max-width: 46rem;
  top: -5rem;
  position: relative;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  align-items: center;
  justify-content: center;
  border-radius: 1rem;
  background-color: aqua;
  outline: 0.1rem dashed black;
}
@media (max-width: 620px) {
  main {
    outline: none;
    background: linear-gradient(180deg, aqua 40%, white 50%);
  }
}

main h1,
main .tile,
main .winner {
  transition: 0.3s;
}

main h1,
main .winner {
  top: 5rem;
  font-size: 12rem;
  position: absolute;
  font-family: "Amatic SC", cursive;
}
@media (max-width: 880px) {
  main h1,
main .winner {
    font-size: 7rem;
  }
}

main h1 {
  z-index: 2;
}

main .winner {
  color: aqua;
  z-index: 1;
}

main .tile {
  flex-shrink: 0;
  max-width: 14rem;
  max-height: 14rem;
  width: 20vw;
  height: 20vw;
  border-radius: 0.5rem;
  background-color: white;
  outline: 0.1rem solid black;
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
  cursor: not-allowed;
  box-shadow: 0 0 0.5rem 0.1rem rgba(163, 78, 78, 0.5);
}

.tile p {
  font-size: 8rem;
}
@media (max-width: 880px) {
  .tile p {
    font-size: 5rem;
  }
}

.mask {
  position: absolute;
  width: 90%;
  height: 90%;
  transition: 0.3s;
  background-color: pink;
  border: 5rem groove rgb(255, 175, 185);
  cursor: pointer;
}

.mask:hover {
  border: 5rem dashed yellow;
}

.dissolve-mask {
  background-color: transparent;
  border: 0.5rem dashed rgba(57, 86, 150, 0.5);
}

button {
  position: relative;
  top: 8rem;
  height: 5rem;
  width: 10ch;
  margin: 2rem 0;
  font-size: 3rem;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 0.5rem;
  font-family: "Bebas Neue", cursive;
  border: 0.1rem dashed rgb(0, 0, 0);
  box-shadow: 0 0 1rem 0.1rem rgba(255, 255, 255, 0.5);
}
@media (max-width: 620px) {
  button {
    top: 3rem;
  }
}

button:hover {
  border: 0.5rem solid yellow;
}/*# sourceMappingURL=style.css.map */