@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&family=Bebas+Neue&family=Amatic+SC:wght@700&display=swap");
* {
  margin: 0;
  padding: 0;
}

:root {
  font-size: 62.5%;
  --fontMain: #be7246;
  --fontBorder: #bbb956;
}

html {
  min-height: 100vh;
  font-size: 1.6rem;
  font-family: "Fredoka One", cursive;
}

body {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}

.wrapper {
  width: 90%;
  height: 90%;
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

ul {
  margin: 0;
  width: 90%;
  max-width: 46rem;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
  top: 6rem;
  margin: 2rem 0;
  transition: 0.9s;
  font-size: 2.8rem;
  position: relative;
  padding: 2rem 1rem;
  border-radius: 1rem;
  border: 0.25rem groove lightblue;
  background: linear-gradient(45deg, rgb(181, 228, 255), rgb(0, 247, 247), rgb(181, 228, 255));
}
@media (max-width: 620px) {
  ul {
    top: 2rem;
    height: 1rem;
    font-size: 1.8rem;
    padding: 1.5rem 1rem;
  }
}

.fa-trophy {
  font-size: 5rem;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  background-image: linear-gradient(90deg, var(--fontBorder), var(--fontMain), var(--fontBorder));
}
@media (max-width: 880px) {
  .fa-trophy {
    font-size: 3rem;
  }
}

.fa-check-circle {
  color: green;
}

main {
  gap: 2rem;
  padding: 3rem;
  display: flex;
  flex-wrap: wrap;
  top: 3rem;
  max-width: 47rem;
  z-index: 1;
  position: relative;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  align-items: center;
  justify-content: center;
  border-radius: 1rem;
  background: linear-gradient(180deg, aqua 90%, white 100%);
}
@media (max-width: 620px) {
  main {
    top: 2rem;
  }
}

main h1,
main .tile,
main .winner {
  transition: 0.3s;
}

main h1,
main .winner {
  top: 2.5rem;
  font-size: 12rem;
  position: absolute;
  font-family: "Amatic SC", cursive;
}
@media (max-width: 620px) {
  main h1,
main .winner {
    font-size: 7rem;
  }
}

main h1 {
  z-index: 2;
  text-align: center;
}

main h1 p {
  transform: rotate(90deg);
  padding: 0;
  margin: 0;
  position: relative;
  top: -3rem;
}
@media (max-width: 620px) {
  main h1 p {
    top: -1rem;
  }
}

main .winner {
  color: aqua;
  z-index: 1;
  padding: 1rem;
  display: flex;
  align-items: center;
  flex-direction: column-reverse;
  justify-content: center;
}

.winner p {
  border-radius: 0.5rem;
  margin-bottom: 1.5rem;
  padding: 0 2rem;
  transition: 0.3s;
}

main .tile {
  flex-shrink: 0;
  max-width: 13.75rem;
  max-height: 13.75rem;
  width: 17.7777777778vw;
  height: 17.7777777778vw;
  border-radius: 0.5rem;
  background-color: white;
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
  cursor: not-allowed;
  box-shadow: 0 0 0.5rem 0.1rem rgba(163, 78, 78, 0.5);
}

.tile p {
  font-size: 8rem;
}
@media (max-width: 620px) {
  .tile p {
    font-size: 5rem;
  }
}

.mask {
  position: absolute;
  width: 92.5%;
  height: 92.5%;
  transition: 0.3s;
  background-color: pink;
  border: 5rem groove rgb(255, 175, 185);
  cursor: pointer;
}

.mask:hover {
  border: 5rem dashed yellow;
}

.dissolve-mask {
  background-color: transparent;
  border: 0.5rem dashed rgba(57, 86, 150, 0.5);
}

.begin-button {
  margin: 8rem 0 0;
}
@media (max-width: 620px) {
  .begin-button {
    margin: 12rem 0 0;
  }
}

.reset-button {
  margin-top: 1rem;
}

button {
  width: 10ch;
  height: 5rem;
  font-size: 3rem;
  position: relative;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 0.5rem;
  font-family: "Bebas Neue", cursive;
  border: 0.1rem dashed rgb(0, 0, 0);
  box-shadow: 0 0 1rem 0.1rem rgba(255, 255, 255, 0.5);
}

button:hover {
  border: 0.5rem solid yellow;
}

footer {
  margin: 0;
  padding: 0;
  z-index: 10;
  width: 100%;
  bottom: 5rem;
  position: absolute;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
}
@media (max-width: 620px) {
  footer {
    bottom: 3rem;
  }
}

footer ul {
  margin: 0;
  padding: 0 2rem;
  min-width: 100%;
  display: flex;
  justify-content: space-between;
  border: none;
  border-radius: 0;
  box-sizing: border-box;
  background: transparent;
  background-color: white;
}

footer a {
  color: black;
}/*# sourceMappingURL=style.css.map */